@page "/Auth/Login"
@using ECommerce.ClientPortal.ViewModels.Auth
@inject LoginVM VM

<PageTitle>Log in</PageTitle>

@if (VM.IsProcessing)
{
    <div class="position-absolute w-100 vh-100 d-flex flex-column align-items-center bg-white justify-content-center">
        <img src="/images/loading.gif" alt="loading" />
    </div>
}

@if (!string.IsNullOrEmpty(VM.ErrorMessage))
{
    <div class="alert alert-danger">@VM.ErrorMessage</div>
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card bg-light" style="min-width: 28rem;">
        <div class="card-body">
            <h5 class="card-title text-center display-6">Sign In</h5>
            <EditForm Model="VM.Model" OnValidSubmit="VM.LoginAsync">
                <DataAnnotationsValidator />
                <hr />

                <div class="form-floating mb-3">
                    <InputText class="form-control" @bind-Value="VM.Model.Email" id="VM.Model.Email" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label for="VM.Model.Email" class="form-label">Email</label>
                    <ValidationMessage For="() => VM.Model.Email" class="text-danger" />
                </div>

                <div class="form-floating mb-3">
                    <InputText class="form-control" @bind-Value="VM.Model.Password" type="password" id="VM.Model.Password" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label for="VM.Model.Password" class="form-label">Password</label>
                    <ValidationMessage For="() => VM.Model.Password" class="text-danger" />
                </div>

                <button class="w-100 btn btn-lg btn-primary" type="submit" disabled="@VM.IsProcessing">
                    @(VM.IsProcessing ? "Processing..." : "Log in")
                </button>

                <div class="row">
                    <div class="col-6 pt-2">
                        <a href="Auth/Forgot-password">Forgot your password?</a>
                    </div>
                </div>

                <hr />
                <p class="mt-2 text-center">
                    <small class="text-muted text-center">
                        Don't have an account?
                        <a href="/Auth/register">Sign up</a>
                    </small>
                </p>
            </EditForm>
        </div>
    </div>
</div>