@page "/access-denied"

<div class="error-container">
    <h1>Access Denied</h1>
    <p>You do not have permission to view this page.</p>
    <NavLink class="btn btn-success" href="/">Return to Home</NavLink>
</div>