@page "/error"

<div class="error-container">
    <h1>Something went wrong</h1>
    <p>An unexpected error occurred. Please try again later.</p>
    <NavLink class="btn btn-success" href="/">Return to Home</NavLink>
</div>